<h1>Listing posts</h1>
<%= link_to 'New Post', new_post_path(), class: "pure-button pure-button-success" %>
<br><br>
<table class="pure-table pure-table-horizontal">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Date</th>
    <th></th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= truncate(post.text) { link_to "Continue", post_path(post) } %></td>
      <td><%= post.created_at.to_s(:long) %></td>
      <td>
        <%= link_to '', post_path(post), class: "fa fa-folder-open" %> | 
        <%= link_to '', edit_post_path(post), class: "fa fa-pencil" %> |  
        <%= link_to '', post_path(post),
                    method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o", id: "trash" %>
      </td>
    </tr>
  <% end %>
</table>